nav {
    padding: 0 1rem;
}
.content {
    min-height: calc(100vh - 70px - 64px);
    padding: 1.5rem 0;
}
.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-quantity {

}

.cart {
   position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 5;
    padding: 1rem;
}
@media (min-width: 767px) {
    .cart {
        top: 5rem;
        bottom: unset;
    }
}